name: Publish with Gradle

on:
  # Publishes snapshots for all pushes to main, releases only for actual releases
  push:
    branches: [ main ]
  release:
    types: [ created ]

jobs:
  publish:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Install GPG secret key
      run: |
        cat <(echo -e "${{ secrets.GPG_SECRET_KEY }}") | gpg --batch --import
        # Workaround for Gradle not liking gpg's new private key layout
        gpg --export-secret-keys > $HOME/.gnupg/secring.gpg
        mkdir ~/.gradle
        (echo "signing.secretKeyRingFile=$HOME/.gnupg/secring.gpg"
         echo "signing.keyId=${{ secrets.GPG_SECRET_KEY_ID }}"
         echo "signing.password="
        ) > ~/.gradle/gradle.properties

    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2.3.3
      with:
        arguments: build

    - name: Publish artifacts with Gradle
      uses: gradle/gradle-build-action@v2.3.3
      with:
        arguments: publish
      env:
        DEPLOY_USER: ${{ github.actor }}
        DEPLOY_PASS: ${{ secrets.GITHUB_TOKEN }}
